@font-face {
    font-family: IRANSansX;
    src: url("fonts/IRANSansXFaNum-Bold.woff2");
    font-style: normal;
    font-size: small;
}

body {
    font-family: IRANSansX;
    direction: rtl;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px auto;
}

.text-sama {
    text-align: center;
    border-radius: 100px;
    padding: 2px;
    background-color: #ccffe1;
    color: #00512e;
    margin: 0 16px;
}

.info {
    margin-top: 64px;
}

.info-title {
    margin: 36px 16px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.share-btn {
    background-color: #fafafa;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    cursor: pointer;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}

.store-info {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin: 0 24px;
}

hr {
    margin-right: 24px;
    margin-left: 24px;
}

.info-key {
    color: #bfbfbf;
}

.blue-link {
    color: #00a8e8;
}

.text-gray {
    color: #8c8c8c;
}

.info-box {
    text-align: right;
    border: 1px solid #ffffff;
    padding: 1em;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin: 56px auto;
}

.sama-btn {
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #00b371;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}